body {
    font-family: "Times" , "serif";
    font-size: 20px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

.portrait {
  float: left;
  margin: 0 10px 0 5px;
  width: 120px;
}

.section-head {
	padding: 80px 0 0 0;
}

.text-justify {
	text-align: justify;
	text-justify: inter-word;
}

#programs .column-header {
	background-color: lightgray;
}

.navbar-header {
	z-index: 1;
}

.logo-text {
	font-family: 'Passion One', cursive;
}

div.languages {
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 1;
}


li.lang {
	font-family: Arial, Verdana, sans-serif;
	text-align: right;
	display: block;
	/*width: 80px;*/
	float: right;
	padding-left: 10px;
	padding-right: 5px;
}

li.lang a {
	color: #999999;
	text-decoration: none;
	display: block;
}

li.lang a.active {
	color: #3eb0f7;
	text-decoration: none;
	display: block;
}