<template name="contact">
	<div id="contact">
		<div class="contact fullscreen parallax" style="background-image:url('/images/content/classroom_2000x1333.jpg');" data-img-width="2000" data-img-height="1334" data-diff="100">
			<div class="overlay">
				<div class="container">
					<div class="row contact-row">
					
						<!-- /.address and contact -->
						<div class="col-sm-5 contact-left wow fadeInUp">
							<h2><span class="highlight">{{_ 'Get' }}</span> {{_ 'in touch' }}</h2>
								<ul class="ul-address">
								<li><a href="https://www.google.com/maps/place/25+Elm+Place,+New+York,+NY+11201" target="_blank"><i class="pe-7s-map-marker"></i></a>25 Elm Place, 2nd Floor<br/>
									New York, NY 11201
								</li>
								<li><i class="pe-7s-phone"></i>Dan Berke, +1 (917) 747-4263
								</li>
								<li><i class="pe-7s-mail"></i><a href="mailto:danberke100@gmail.com">danberke100@gmail.com</a></li>
								<li><i class="pe-7s-look"></i><a href="#top">appfluent.nyc</a></li>
								</ul>	
									
						</div>
						
						{{> contactForm }}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</template>