<template name="contact">
	<div id="contact">
		<div class="contact fullscreen parallax" style="background-image:url('/images/content/classroom_2000x1333.jpg');" data-img-width="2000" data-img-height="1334" data-diff="100">
			<div class="overlay">
				<div class="container">
					<div class="row contact-row">
					
						<!-- /.address and contact -->
						<div class="col-sm-5 contact-left wow fadeInUp">
							<h2><span class="highlight">{{_ 'Get' }}</span> {{_ 'in touch' }}</h2>
								<ul class="ul-address">
								<li><a href="https://www.google.com/maps/place/12866+Main+St,+Garden+Grove,+CA+92840" target="_blank"><i class="pe-7s-map-marker"></i></a>12866 Main Street #101<br/>
									Garden Grove, CA 92840
								</li>
								<li><i class="pe-7s-phone"></i>+1 (714) 448-9496<br>
								+1 (714) 600-5806
								</li>
								<li><i class="pe-7s-mail"></i><a href="mailto:codersun.com@gmail.com">codersun12@gmail.com</a></li>
								<li><i class="pe-7s-look"></i><a href="#top">codersun.com</a></li>
								</ul>	
									
						</div>
						
						{{> contactForm }}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</template>