<template name="download">
	<div id="download">
		<div class="action fullscreen parallax" style="background-image:url('/images/content/classroom_2000x1333.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
			<div class="overlay">
				<div class="container">
					<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
					
						<!-- /.download title -->
						<h2 class="wow fadeInRight">{{_ 'Know more' }}</h2>
						<p class="download-text wow fadeInLeft text-justify">{{{_ 'learn more subtext' }}}</p>
						
						<!-- /.download button -->
							<div class="download-cta wow fadeInLeft">
								<a href="http://www.computerworld.com/article/2508899/it-careers/obama---we-don-t-have-enough-engineers-.html" target="_blank" class="btn-secondary">{{_ 'Learn more' }}</a>
							</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</template>