<template name="feature">
	<div id="feature">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

				<!-- /.feature title -->
					<h2>{{_ 'What makes' }}</h2>
					<p>Increase your user loyalty by maintaining mutual communication and nurturing your online community.</p>
				</div>
			</div>
			<div class="row row-feat">
				<div class="col-md-4 text-center">
				
				<!-- /.feature image -->
					<div class="feature-img">
						<img src="/images/content/woman_robot_800x923.jpg" alt="image" class="img-responsive wow fadeInLeft">
					</div>
				</div>
			
				<div class="col-md-8">
				
					<!-- /.feature 1 -->
					<div class="col-sm-6 feat-list">
						<i class="pe-7s-notebook pe-5x pe-va wow fadeInUp"></i>
						<div class="inner">
							<h4>FULLSTACK EDUCATION</h4>
							<p>We teach computer science and full stack development in JavaScript - the language of the modern web. You'll learn NodeJS along with Express on the backend and ReactJS and AngularJS on the frontend. With Facebook's transformative new framework ReactJS, you'll also be the first students in the world to build full-powered mobile apps with JavaScript.
							</p>
						</div>
					</div>
				
					<!-- /.feature 2 -->
					<div class="col-sm-6 feat-list">
						<i class="pe-7s-cash pe-5x pe-va wow fadeInUp" data-wow-delay="0.2s"></i>
						<div class="inner">
							<h4>LEARN THROUGH BUILDING</h4>
							<p>We help you build to learn not just learn to code. Utilizing pair programming you'll face challenging projects where you'll need to hunt out the answer (with the total support of our Engineering Fellows - 1 for every 4 students). Lectures provide an incredible baseline and are taught by masters in their field.</p>
						</div>
					</div>
				
					<!-- /.feature 3 -->
					<div class="col-sm-6 feat-list">
						<i class="pe-7s-cart pe-5x pe-va wow fadeInUp" data-wow-delay="0.4s"></i>
						<div class="inner">
							<h4>COMMUNITY FOR LIFE</h4>
							<p>Attending Codesmith is a focused engineering experience but it's also about welcoming you into a community of creative and technical people who become lifelong allies. Every graduate has life-time access to our co-working space at our LA HQ.</p>
						</div>
					</div>
				
					<!-- /.feature 4 -->
					<div class="col-sm-6 feat-list">
						<i class="pe-7s-users pe-5x pe-va wow fadeInUp" data-wow-delay="0.6s"></i>
						<div class="inner">
							<h4>User Management</h4>
							<p>Instead of using technology to automate processes, think about using technology to enhance human interaction.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>