<template name="feature">
	<div id="feature">
		<div class="container">

			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

				<!-- /.feature title -->
					<h2>{{_ 'What makes' }}</h2>
					<p>{{_ 'Feature subtitle' }}</p>
				</div>
			</div>

			<div class="row row-feat">
				<div class="col-md-4 text-center">
				
				<!-- /.feature image -->
					<div class="feature-img">
						<img src="/images/content/woman_robot_800x923.jpg" alt="image" class="img-responsive wow fadeInLeft">
					</div>
				</div>
			
				<div class="col-md-8">
				
					<!-- /.feature 1 -->
					<div class="col-sm-6 feat-list">
						<i class="pe-7s-tools pe-5x pe-va wow fadeInUp"></i>
						<div class="inner">
							<h4>{{_ 'FULLSTACK EDUCATION' }}</h4>
							{{{_ 'Fullstack education subtext' }}}
						</div>
					</div>
				
					<!-- /.feature 2 -->
					<div class="col-sm-6 feat-list">
						<i class="pe-7s-paint pe-5x pe-va wow fadeInUp" data-wow-delay="0.2s"></i>
						<div class="inner">
							<h4>{{_ 'LEARN THROUGH BUILDING' }}</h4>
							{{{_ 'Learn through subtext' }}}
						</div>
					</div>
				
					<!-- /.feature 3 -->
					<div class="col-sm-6 feat-list">
						<i class="pe-7s-culture pe-5x pe-va wow fadeInUp" data-wow-delay="0.4s"></i>
						<div class="inner">
							<h4>{{_ 'COMMUNITY FOR LIFE' }}</h4>
							{{{_ 'Community for subtext' }}}
						</div>
					</div>
				
					<!-- /.feature 4 -->
					<div class="col-sm-6 feat-list">
						<i class="pe-7s-users pe-5x pe-va wow fadeInUp" data-wow-delay="0.6s"></i>
						<div class="inner">
							<h4>{{_ 'INCUBATOR' }}</h4>
							{{{_ 'Incubator subtext' }}}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</template>