<template name="instructors">

	<div id="instructors" class="section-head">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title text-justify">
					<img class="portrait" src="/images/people/ThachLe/ThachLe4_circle.png">
					{{{_ 'Thach Le' }}}<br/><br/>
				</div>
				<div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title text-justify">
					<img class="portrait" src="/images/people/DanBerke/DanBerke_circle.png">
					{{{_ 'Dan Berke' }}}<br/><br/>
				</div>
			</div>
		</div>
	</div>

</template>