<template name="nav">
	<div id="menu">
		<nav class="navbar-wrapper navbar-default" role="navigation">
			<div class="container">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand site-name" href="#top"><img src="/images/content/logo2.png" alt="logo"></a>
				  </div>
		 
				  <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="#intro">{{_ 'About' }}</a></li>
						<li><a href="#feature">{{_ 'Incubator' }}</a></li>
						<li><a href="#programs">{{_ 'Programs' }}</a></li>
						<li><a href="#instructors">{{_ 'Instructors' }}</a></li>
						<li><a href="#contact">{{_ 'Contact' }}</a></li>
					</ul>
				  </div>
			</div>
		</nav>
	</div>
</template>