<template name="programs">
	<div id="programs">
		<div class="container">
			<div class="row">

				<div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">
					<h2>{{_ 'Programs' }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="/images/content/classroom-projector.jpg" class="img-responsive">
				</div>
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-12">
							<table class="table">
								<tr class="column-header"><td><h5 class="text-center">FULLSTACK JAVASCRIPT-BASED WEB DEVELOPMENT<br/>(a fulltime class)</h5></td></tr>
								<tr><td>
								<p><strong>Technologies:</strong> <br/>
									- HTML5/CSS3: create layout and visual aspect of web applications<br/>
									- JavaScript: the pervasive language available on most platforms<br/>
									- MongoDB: modern document-based database<br/>
									- NodeJS: server-side JavaScript platform<br/>
									- MeteorJS: realtime JavaScript framework<br/>
									- ReactJS: component-based frontend development<br/>
								</p>
								<p><strong>Skills:</strong> <br/>
									- CLI (Command Line Interface) <br/>
									- JavaScript Development Tools <br/>
									- GitHub <br/>
									- Agile Software Development<br/>
									- Test-Drivent Development<br/>
									- Computer Science Theory<br/>
									- Self learning<br/>
									- Job searching<br/>
								</p>
								<p><strong>Dates:</strong><br/>
									- 15 Feb 2016 - 13 May 2016<br/>
									- Monday - Friday<br/>
									- 9am - 5pm<br/>
								</p>
								<p><strong>Tuition:</strong> <br/>
									- US$ 5000.00
								</p>
								</td></tr>
							</table>
						</div>

						<div class="col-sm-12">
							<table class="table">
								<tr class="column-header"><td><h5 class="text-center">JAVASCRIPT FUNDEMENTALS<br/>(a part-time class)  </h5></td></tr>
								<tr><td>
									<p><strong>Technologies:</strong> <br/>
										- HTML5/CSS3: create layout and visual aspect of web applications<br/>
										- JavaScript: the pervasive language available on most platforms<br/>
										- ReactJS: component-based frontend development<br/>
									</p>
									<p><strong>Skills:</strong> <br/>
										- CLI (Command Line Interface) <br/>
										- JavaScript Development Tools <br/>
										- Test-Drivent Development<br/>
										- Computer Science Theory<br/>
									</p>
									<p><strong>Dates:</strong><br/>
										- 15 Mar 2016 - 15 May 2016<br/>
										- Saturday, Sunday<br/>
										- 9am - 5pm<br/>
									</p>
									<p><strong>Tuition:</strong> <br/>
										- US$ 2500.00
									</p>
								</td></tr>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</template>