<template name="programs">
	<div id="programs" class="section-head">
		<div class="container">
			<div class="row">

				<div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">
					<h2>{{_ 'Programs' }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<img src="/images/content/classroom2.jpg" class="img-responsive">
				</div>
				<div class="col-sm-7">
					<div class="row">
						<div class="col-sm-12">
							<table class="table">
								<tr class="column-header"><td><h5 class="text-center">FULLSTACK REAL-TIME JAVASCRIPT WEB DEVELOPMENT<br/>({{_ 'fulltime class' }})</h5></td></tr>
								<tr><td>
								<br/>
								<p><strong>{{_ 'Objective' }}:</strong><br/>
									{{{_ 'fullstack objective' }}}
								</p>
								<p><strong>{{_ 'Technologies' }}:</strong> <br/>
									{{{_ 'fullstack technologies' }}}
								</p>
								<p><strong>{{_ 'Skills' }}:</strong> <br/>
									- CLI (Command Line Interface) <br/>
									- JavaScript Development Tools <br/>
									- GitHub Source Control<br/>
									- Agile Software Development<br/>
									- Test-Drivent Development<br/>
									- Computer Science Theory<br/>
									- Projects and teamwork<br/>
									- Self learning<br/>
									- Job searching<br/>
								</p>
								<p><strong>{{_ 'Date & Time' }}:</strong><br/>
									{{{_ 'fullstack date' }}}
								</p>
								<p><strong>{{_ 'Tuition' }}:</strong> <br/>
									- US$ 6000.00<br/>
									- {{_ 'Class size' }}.
								</p>
								</td></tr>
							</table>
						</div>

						<div class="col-sm-12">
							<table class="table">
								<tr class="column-header"><td><h5 class="text-center">JAVASCRIPT FUNDAMENTALS<br/>
									({{_ 'part-time class' }})  </h5></td></tr>
								<tr><td>
									<br/>
									<p><strong>{{_ 'Objective' }}:</strong><br/>
										{{{_ 'javascript objective' }}}
									</p>
									<p><strong>{{_ 'Technologies' }}:</strong> <br/>
										{{{_ 'javascript technologies' }}}
									</p>
									<p><strong>{{_ 'Skills' }}:</strong> <br/>
										- CLI (Command Line Interface) <br/>
										- JavaScript Development Tools <br/>
										- Test-Drivent Development<br/>
										- Computer Science Theory<br/>
										- Self learning<br/>
										- Job searching<br/>

									</p>
									<p><strong>{{_ 'Date & Time' }}:</strong><br/>
										{{{_ 'javascript date' }}}
									</p>
									<p><strong>{{_ 'Tuition' }}:</strong> <br/>
										- US$ 2500.00<br/>
										- {{_ 'Class size' }}.
									</p>
								</td></tr>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</template>