<template name="splash">
	<!-- /.parallax full screen background image -->
	<div class="fullscreen landing parallax" style="background-image:url('/images/content/classroom_2000x1333.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
		
		<div class="overlay">
			<div class="container">

				<!-- LANGUAGES -->
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="languages">
							<ul class="lang">
								<li class="lang"><a class="lang {{ langActive 'vi' }}" href="#" data-lang="vi">Tiếng Việt</a></li>
								<li class="lang"><a class="lang {{ langActive 'en' }}" href="#" data-lang="en">English</a></li>
							</ul>
						</div>
					</div>
				</div>
				

				<div class="row">
					<div class="col-md-7">
					
						<!-- /.logo -->
						<div class="logo wow fadeInDown"> <a href="">
							<img src="/images/content/logo.png" alt="logo"></a></div>

						<!-- /.main title -->
							<h1 class="wow fadeInLeft">
							{{_ "headliner" }}
							</h1>

						<!-- /.header paragraph -->
						<div class="landing-text wow fadeInUp">
							<p>{{_ "headliner-sub" }}</p>
						</div>				  

						<!-- /.header button -->
						<div class="head-btn wow fadeInLeft">
							<a href="#programs" class="btn-primary">{{_ "Programs" }}</a>
							<a href="#contact" class="btn-default">{{_ "Contact" }}</a>
						</div>
		
			  

					</div> 
					
					{{> signup }}

				</div>



			</div> 
		</div> 
	</div>
</template>