
<template name="test">
			<div class="container">

				<!-- LANGUAGES -->
				<div class="row">
					<div class="col-md-12">
						<div class="languages">
							<!--<div classs="mod-languages">-->
								<ul class="lang">
									<li class="lang"><a href="#" class="lang" data-lang="es">Español</a></li>
									<li class="lang"><a class="lang" href="#" data-lang="vi">Tiếng Việt</a></li>
									<li class="lang"><a class="lang" href="#" data-lang="en">English</a></li>
								</ul>
							<!--</div>-->
						</div>
					</div>
				</div>
			</div>

</template>
